{% extends 'user/home.html' %}

{% block title %}Website Details{% endblock %}

{% load static %}

{% block content %}


<div class="main-content">
    <div class="image-container">
        <img src="{% static 'path/to/your/image.png' %}" alt="Your Image">
    </div>
    <div class="heading">
        <h1>Website Details: {{ website.website_name }}</h1>
    </div>

    <div class="icons-container">
        <div class="icon-wrapper">
            <a href="{% url 'ftp_users' website.id %}" title="FTP" class="icon-link">
                <img src="{% static 'css/icons/ftp_icon.png' %}" alt="FTP" class="icon">
            </a>
            <a href="{% url 'ftp_users' website.id %}" class="icon-label" title="FTP">FTP</a>
        </div>
        <div class="icon-wrapper">
            <a href="{% url 'add_database' website.id %}" title="Add Database" class="icon-link">
                <img src="{% static 'css/icons/database_icon.png' %}" alt="Add Database" class="icon">
            </a>
            <a href="{% url 'add_database' website.id %}" class="icon-label" title="Add Database">Add Database</a>
        </div>        
        <div class="icon-wrapper">
            <a href="{% url 'update_php_version' website.id %}" title="PHP" class="icon-link">
                <img src="{% static 'css/icons/php_icon.png' %}" alt="PHP" class="icon">
            </a>
            <a href="{% url 'update_php_version' website.id %}" class="icon-label" title="PHP"> PHP</a>
        </div>
        <div class="icon-wrapper">
            <a href="{% url 'file_manager' website.id %}" title="File Manager" class="icon-link">
                <img src="{% static 'css/icons/filemanager.png' %}" alt="File Manager" class="icon">
            </a>
            <a href="{% url 'file_manager' website.id %}" class="icon-label" title="File Manager">File Manager</a>
        </div>
    </div>
</div>
{% endblock %}
